<html>
    <head>
        <title>Il mio primo blog ;-)</title>
    </head>
    <body>
        <div>
            <h1><a href=""><p align=center><em>Il mio primo blog ;-)</em></p></a></h1>
        </div>

        <div>
            <p><i>published: 14.06.2014, 12:14</i></p>
            <h2><a href="">Questo è il primo post</a></h2>
            <p align=justify>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>

        <div>
           	<p><i>published: 14.06.2014, 12:14</i></p>
            <h2><a href="">Questo è il mio secondo post</a></h2>
            <p align=justify>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>
    </body>
</html>